<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
    <link rel="stylesheet" href="/css/style.css" />
    <title>{{ title }}</title>
    <script src="/script/lightbox.js"></script>
</head>
<body>
    <div id="page-container">
                <nav>
                    {% include "components/navbar.njk" %}
                </nav>
                <main id="content">
                        {{ content | safe }}
                </main>
        <footer>
        {% include "components/footer.njk" %}
        </footer>
    </div>
<div id="lightbox"></div>
</body>
</html>