<article>
    <h2>About Me</h2>
    <section class="flexmain">
        <div>
            <img src="/assets/pfp.png" class="pfp"/>
        </div>

        <div>
            <p>Hey! I'm Goat, nice to meetcha.</p>
        </div>
    </section>
    <section>
        <h3>Who I am:</h3>
        <p>I'm an elderish (mid?) millennial that has a fondness for the small web and my memories of being a terminally online tween.</p>
        <p>Many years ago... decades ago I guess (ouch) I had a terrible Warcraft 2 fansite with the worlds worst strategy guides on it. I think it was hosted on Tripod... maybe Geocities. It's gone but I miss it a little. As you can see my tastes haven't changed much from Baby Goat's, just got more pastel.</p>
        <h3>What I do:</h3>
        <p>I'm a SQL and Tableau developer, I was a sys admin but being in IT sucked the life out of me so I jumped over to the much more engaging and fulfilling world of being a business/data analyst... can you sense the sarcasm?</p>
        <h3>Other Stuff</h3>
        <ul>
            <li>I mod the COIN Series Players Club Discord which is dedicated to a series of board games about marxist insurgencies
            <li>Made a board game tangentially related to that series with 3 wonderful co-designers: <a href="https://www.gmtgames.com/p-918-vijayanagara-the-deccan-empires-of-medieval-india-1290-1398.aspx">Vijayanagara</a> which I think is pretty cool if I do say so myself
            <li>Helped to run the second incarnation of the Consim Game Jam: <a href="https://consimgamejam.com/">Consim Game Jam</a>
            <li>and lastly I dabble in board game design and development, mostly with a lovable band of idiots I met during lockdown in 2020
        </ul>
        <h3>Why Goat?</h3>
        <p>My online nom de guerre is "Chaos-Goat", but most people call me Goat. Even friends IRL at this point. I chose the name when I was 12 because I needed an online handle for gaming and I liked goats and chaos. 24 years later I still like goats and chaos so it was a good choice.</p>

    </section>
    <section class="center omglol">
        <script src="https://status.lol/chaosgoat.js?time&link&fluent"></script>
        <a href="https://chaosgoat.omg.lol/" class="omgbutton">omg.lol profile</a>
    </section>
</article>