<section class="flexicoend">
        <a class="ico" href="/feed.json">
            <img src="/assets/svg/jsonfeed.svg" alt="jsonfeed icon" title="JSON Feed">
        </a>
        <a class="ico" href="/feed.xml">
            <img src="/assets/svg/rss.svg" alt="rss icon" title="RSS/Atom Feed">
        </a>
</section>