<h2>A Note About Colors</h2>
    <div>
        <p>I didn't intend for the site to have a color scheme like a bag of saltwater taffy but while initially coding it I had a very boring black nav/footer, white body situation going on and c'mon dude this is supposed to be fun! So I started adding colors and... uh... this happened. So I rolled with it. Pastels are manly, don't @ me.</p>
    </div>
