<article class="center">
    <h3>Buttons!</h3>
    <p>Here are some of my buttons if you're interested in using them.</p>
    <section class="flexbuttons">
        <img src="\assets\buttons\cg88x31.png">
        <img src="\assets\buttons\cg200x40.png">
    </section>
</article>