<ul class="nav">
	<li class="dropdown">
		<a href="/" class="dropbtn">Home</a>
	<li class="dropdown">
		<a href="/writing/" class="dropbtn">Writing</a>
			<div class="dropdown-content">
				<a href="/writing/gamesrecs/">Breathless Game Recommendations</a>
				<a href="/writing/freegames/">Free Games That Don't Suck</a>
			</div>
	<li class="dropdown">
		<a href="/shrines" class="dropbtn">Shrines</a>
			<!--<div class="dropdown-content">
				<a href="/shrines/arcade/">Arcade</a>
			</div> -->
</li>
</ul>