<article class="center">
    <h2>Sites I Like!</h2>

    <section class="flexblinkies">
        {% for friend in friends %}
            {% if friend.site | length > 0 %}
                <a href={{ friend.site }} title="{{ friend.title }}"">
                    <img src= {{ friend.button }}>
                </a>
            {% endif %}
        {% endfor %}
    </section>
</article>
