---
title: "Goat's Budget Post Apocalyptic Travel Agency"
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/travel.css" >
    </head>
    <body>
        <main>
            <article class="slides">
                <section class="slide">
                    <h2>Work Getting You Down?</h2>
                    <img src="/assets/img/travel/work.svg" alt="work icon" title="Fuck Work">
                </section>
                <section class="slide">
                    <img src="/assets/img/travel/life.svg" alt="life icon" title="Life's a bitch and then you die so fuck it all let's go get high.">
                    <h2>Has Life Lost Its Zest?</h2>
                </section>
                <section class="slide">
                    <h2>Does Society Not Understand You?</h2>
                    <img src="/assets/img/travel/society.svg" alt="society icon" title="The Shunt Begins">
                </section>
                <section class="slide">
                    <img src="/assets/img/travel/climate.svg" alt="climate icon" title="We Didn't Start The Fire But Holy Crap It's 140 Degrees Outside Dear God Send Help">
                    <h2>Does Climate Change Have You Getting Heated?</h2>
                </section>
                <section class="slide">
                    <h2 class="fontup">We Have A Solution.</h2>
                    <img src="/assets/img/travel/solution.svg" alt="solution icon" title="Don't Worry. Trust Us.">
                </section>
            </article>
                <section class="titlesection">
                    <img src="/assets/img/travel/stamp12.png" class="stamp" width="94" height="64">
                    <h1 class="titlebanner">Travel The Apocalypse</h1>
                </section>
            <article class="flow">
                <img src="/assets/img/travel/apoc1.jpg" class="left" height="375" width="510">
                <p class="right">Now, we here at Goat's Travel Agency understand why you might ask <em>"Why would I want to travel the apocalypse?"</em> when you're already not happy with the current slow motion apocalypse that is called having been alive at any time in the last 10,000 years or so? Because the issues we face become banal, boring, and rote by the act of us experiencing them, especially over the course of our lives. The <strong>Apocalypse</strong><sup><em>(TM)</em></sup> gives you a chance to experience something new, in a relatively safe way from the comfort of your home. A chance to explore new and more interesting apocalypses. Gone is us slowly cooking the world, in is something like the world froze ala <strong>Snowpiercer</strong>. Gone is political schisms destroying our ability to experience a shared reality, in is raiders, sick cars, and assless chaps ala <strong>Mad Max</strong>.</p>
                
                <p class="left">If you feel that ennui, that emptiness, that craving for something new then I have <strong>good news</strong> for you. The Apocalypse can offer the solution. It can even offer... <em>hope</em>. I know it sounds wild, but the best apocalypses show the good that humanity has to offer along with the bad. It's not just raiders, villains, scum, and the wretched. It's the people fighting for the world too, to either bring it back to it's former glory or just make things not as much of a shithole. Keeping the fire light for humanity can really rekindle the hope in your heart in our world. We here at Goat's Travel Agency think a little bit of Apocalypse can really cure what ails you in our modern world.</p>
                <img src="/assets/img/travel/apoc2-1.jpg" class="right" height="768" width="1024">

                <img src="/assets/img/travel/apoc3.jpg" class="center" height="516" width="918">

                <p class="center">We here at Goat's Travel Agency specialize in the American Apocalypse. We find the mixture of Americana, the certain <em>je ne sais quoi</em> of damn near two hundred years of American religious movements and their constant apocalyptic predictions, and the charm of our great and varied natural landscapes, <em>even when ruined</em>, to be particularly intoxicating. Also 95% of the apocalypses we can service let you basically be a badass cowboy and we here at the GTA love that. We hope that you agree and will choose us to book your post apocalyptic vacation with us, and don't forget to purchase our all-inclusive life insurance policy. The Apocalypse is a dangerous place, that's why you're going to it after all.</p>

                <p class="center">Currently we only have one package, check back later for more. The Apocalypse is always changing!</p>

                <p class="center">Also - look for a passport stamp on this page to fill out your passport booklet, as part of 32bit.cafe's <a href="https://tilde.32bit.cafe/~ribose/events/destination/map.html">Destination Vacation</a> code jam!</p>
                
                <div class="card center">
                    <div class="hd">
                        <h2>Into The Badlands</h2>
                    </div>
                    <div class="bdy">
                        <div class="stats">
                            <h4>Quick Stats</h4>
                            <ul>
                                <li>Location: Louisiana</li>
                                <li>Time Period: 500 years in the Future</li>
                                <li>Technology: Late 1800s with occasional advanced items</li>
                            </ul>
                            <h4>Reasons to Go</h4>
                            <ul>
                                <li>Amazing Costumes</li>  
                                <li>Literally everyone is super hot</li>  
                                <li>Wire Fu everywhere</li>
                                <li>No Guns</li>
                                <li>Varied Landscapes</li>
                            </ul>
                            <h4>Reasons To Avoid</h4>
                            <ul>
                                <li>The outfits look uncomfortable</li>
                                <li>Everyone else is a kickass martial artist</li>
                                <li>Given the above: No Guns</li>
                                <li>You'll probably be used as forced labor to harvest opium</li>
                            </ul>
                        </div>
                        <div class="blurb">
                            <p><em>The Setting: Louisiana. 500 years after the apocalypse. Life is controlled by the Barons and their armies.</em></p>

                            <p>You will step into a world not unlike the late 1800s, with a few modern amenities. Electricity is not wide spread, neither is modern medicine. There are no guns, no high technology, but you can find awesome melee weapons all over the place. Almost everyone you will run into is a certified martial arts badass.</p>
                                
                            <p>You can serve the Barons as one of their Clippers: a force that acts as a combination of thugs, police, and army all in one. You'll get a pretty snazzy outfit if you do. You could fight against them as a raider, or uncover mystical martial secrets as a monk, be a smuggler, or just live out your life as a cog - indentured field laborers working for the Barons... though we wouldn't recommend choosing that option.</p>
                                
                            <p> Uncover the mystery of the Monastery a place outside of the badlands where the mystic martial arts are taught, Or explore the rumors of the<strong>Lost City of Azra</strong>, a mythical utopian city outside of the Badlands.  Or maybe bring guns back to the Badlands and become a Baron in your own right, your destiny is truly your own here.</p>
                        </div>
                    </div>
                </div>
            </article>
        </main>
    </body>
</html>