---
title: Blog!
layout: base.njk
tags: "writing"
desc: "What it says on the tin: A blog!"
---

 {% include "components/blogsvgs.njk" %}
<article class="bloggrid">
{% for blog in collections.blogs | reverse %}
        <a href="{{ blog.url }}">
            <div class="blogcard">
                <div class="blogheader">
                    <h3>{{ blog.data.title }}</h3>
                    <p>{{ blog.date | postDate }}</p>
                </div>
                <p>{% if blog.data.excerpt %}
                    {{ blog.data.excerpt | md | safe }}
                  {% else %}
                    {{ blog.page.excerpt | md | safe }}
                  {% endif %}
                </p>
            </div>
        </a>
{% endfor %}
</article>