<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>{{ title }}</title>
    <script src="/script/lightbox.js"></script>
</head>
<body>
    <div id="page-container">
        <div id="content-wrap">
                {% include "components/navbar.njk" %}
                    <div  id="content">
                        {{ content | safe }}
                    </div>
        </div>
        {% include "components/footer.njk" %}
    </div>
<div id="lightbox"></div>
</body>
</html>