/* Mobile first queries */

.navbar {
    display: block;
    width: 100%;
    background: #eee;
}

h4 {
    margin: 1rem;
    font-style: italic;
}

.emphasis {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

body {
    background-color: #eee;
    color: #111;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {

    article {
        margin-top: 5rem;
    }

    .title {
        text-align: center;
    }

    .has-docked-nav .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}





.title {
    text-align: center;
}