:root {
	/*old main-bg-color: #FFC0CB*/
	--main-bg-color: #FFE7EC;
	--primary-accent-color: #fcb77a;
	--secondary-accent-color: #faffc0;
	--tertiary-accent-color: #c0ffe4;
	--tertiary-accent-color-dark: #a8dfc8 ;
	--link-solid-color: black;
	--link-standout-color: #faffc0;
	--link-standout-highlight: #c0ffe4;
	--bg-background-image: url("/assets/bgrnd/basebackground3.jpg");
	--text-color: black;
	--pre-color: #f1f1f1;
	color: black;
}

@media (prefers-color-scheme: dark) {
	:root {
		/*Tetradic on #131249*/
		/* --main-bg-color: #131249;
		--primary-accent-color: #491312;
		--secondary-accent-color: #492F12;
		--tertiary-accent-color: #484912;
		--tertiary-accent-color-dark: #36370E; */
		--main-bg-color: #230341;
		--primary-accent-color:  #06011E;
		--secondary-accent-color: #47095B;
		--tertiary-accent-color: #951292;
		--tertiary-accent-color-dark: #AD157A;
		--link-solid-color: white;
		/* --link-standout-color: #492F12;
		--link-standout-highlight: #484912; */
		--link-standout-color: #951292;
		--link-standout-highlight: #AD157A;
		--bg-background-image: url("/assets/bgrnd/WebsiteDarkBG.jpg");
		--text-color: white;
		--pre-color: #0e0e0e;
		color: white;
	}


}

main{

	a:link, a:visited{
	color: var(--link-solid-color);
	font-weight: 600;

	}

	a:hover, a:active {
		color: var(--link-standout-highlight);
	}

	li {
		line-height: 2rem;
		margin-bottom: 1rem;
	}
}

#page-container {
	position: relative;
	min-height: 100vh;
	background-color: var(--main-bg-color);
}

#content {
	/* padding-bottom: 1.25rem; */
	padding-bottom: 5rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

#blogcontent {

	padding-bottom: 5rem;
	padding-left: 2rem;
	padding-right: 2rem;

	img, video {
		max-width: 100%;
	}

	blockquote {
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 1em;
		padding-top: 0.8em;
		padding-bottom: 0.8em;
		padding-right: 0.8em;
		border-left: 5px solid var(--link-standout-highlight);
		margin-bottom: 2.5rem;
		background-color: var(--pre-color);
		font-style: italic;

		footer {
			text-align: right;
			font-style: normal;
		}
	}

	aside {

	}

	table {
		text-align: justify;
		width: 100%;
		border-collapse: collapse;
		margin-bottom: 2rem;
	}

	td, th {
		padding: 0.5em;
		border-bottom: 1px solid var(--link-solid-color);
	  }
	  

	pre {
		background-color: var(--pre-color);
		display: block;
		padding: 1em;
		overflow-x: auto;
		margin-top: 0px;
		margin-bottom: 2.5rem;
		font-size: 0.9em;
	}

	code, samp, kbd {

	}

	small, sub, sup {

	}

	hr {

	}
}

/* needs a media query to make content stack when window gets below 500 px wide*/
.flexmain {
	display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0 2rem;
    padding: 1% 1%;
}

.pfp {
	filter: drop-shadow(0 0 .5rem var(--primary-accent-color));
}

.omglol {

	gap: 1rem;
	padding: .25rem;
	border: 5px solid black;
	box-shadow: .25em .375em black;
	background-color: var(--tertiary-accent-color);

	.statuslol {

		display: flex;
		flex-direction: row;
		align-items: center;	

	}

	.statuslol_time {
		font-size: .75rem;
	}

	.omgbutton {
		background-color: var(--primary-accent-color);
		padding: 1rem 2rem;
		display: inline-block;
		margin: 1rem 0 1rem 0;
		border-radius: 1rem;
		color: var(--text-color);
		box-shadow: .25em .375em black;
		text-decoration: none;
	}

	.omgbutton:hover {
		background-color: var(--secondary-accent-color);
		box-shadow: none;
		text-decoration: none;
	}
}

.bloggrid {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	align-content: space-evenly;
	gap: 0 2rem;

	a {
		text-decoration: none;
	}

	a:visited {
		color: var(--link-solid-color);
	}

	a:link {
		color: var(--link-solid-color);
	}

}

.blogcard {
	border-color: black;
	border-style: solid;
	border-width: .2em;
	box-shadow: .25em .375em black;
	margin: 1em 0em;
	padding: 0em 0em .25em .25em;
	background-color: var(--main-bg-color);	
}

.blogcard:hover {
	border-style: dashed;
	border-color: var(--secondary-accent-color);
}

.blogheader {
				
	& h3 {
		margin: .25em 0em 0em 0em;
	}

	& p {
		margin: 0em;
}
}

/* .blogflex {
	display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 2rem;
    padding: 1% 1%;
	flex-wrap: wrap;
	align-content: space-evenly;

	& .bloga:visited {
		color: var(--link-solid-color);
	}
	
	& .bloga:link {
		color: var(--link-solid-color);
	}

	& .bloga {
		flex: 1;
		min-width: 40%;
		max-width: 50%;
		text-decoration: none;
	
		& .blogcard {
			border-color: black;
			border-style: solid;
			border-width: .2em;
			box-shadow: .25em .375em black;
			margin: 1em 0em;
			padding: 0em 0em .25em .25em;
			background-color: var(--main-bg-color);

			& .blogheader {
				
				& h3 {
					margin: .25em 0em 0em 0em;
				}
			
				& p {
					margin: 0em;
			}
		}
	}

	& .blogcard:hover{
		border-style: dashed;
		border-color: var(--secondary-accent-color);
		}
	}
} */

.center {
	justify-content: center;
	text-align: center;
}

.flexblinkies {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 1%
}

.flexbuttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 1%;
	gap: 3rem;

	summary {
		cursor: pointer;
		list-style:circle;
	}
}

ul.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--primary-accent-color);
	text-align: center;
	}

ul.footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--primary-accent-color);
	text-align: center;
	line-height: 1rem;

	p {
		margin:13px;
	}
}

nav {

	li {
		float: center;
		font-size: 1em;
	}

	li a, .dropbtn {
		display: inline-block;
		color: var(--link-solid-color);
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 1em;
	}

	li a:hover, .dropdown:hover .dropbtn {
		background-color: var(--secondary-accent-color);
	}

	li.dropdown {
	display: inline-block;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		/*background-color: #f9f9f9;*/
		background-color: var(--tertiary-accent-color);
		min-width: 160px;
		box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.2);
		z-index: 1;
	}

	.dropdown-content a {
		color: var(--link-solid-color);
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
	}

	.dropdown-content a:hover {
		background-color: var(--tertiary-accent-color-dark);
	}

	.dropdown:hover .dropdown-content {
		display:block;
	}

	}

body {
	max-width: 38em;
	margin: auto;
	background-image: var(--bg-background-image);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: system-ui, sans-serif;
	font-size: 1.4rem;
		
	& p {
			line-height: 2rem;
		}
}

.fleximg {
	text-align: center;

	& img {
		max-width: 30%;
		height: auto;
	}
}
.fleximgbig {
	text-align: center;

	& a img {
		max-width: 100%;
		height: auto;
		display: block;
		margin: auto;
	}

	& figcaption {
		font-style: italic;
		font-size: 1rem;
		line-height: 1.2rem;
		background-color: black;
		color: white;
		padding: .25em;
		max-width: 100%;
		margin: auto;
	}
}

#lightbox {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.75);
	display: none;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
 }
 
 #lightbox img {
	border: 25px solid #fff;
	max-height: calc(100% - 90px);
	max-width: calc(100% - 90px);
 }

 .articleimg {
	max-width: 70%;
	height: auto;
	
 }

 #webmentions {
    margin: 0;
    position: relative;
    z-index: 100;
    line-height: 1.2em;
}

#webmentions .comments {
    max-height: 20em;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 80%;
}

#webmentions h2 {
    font-size: medium;
    margin: 0;
    padding: 2px;
    background: #ccc;
}

#webmentions .reacts img {
    margin: 3px -1ex 1px 0;
}

#webmentions img.missing {
    background: white;
    border: dashed black 1px;
}

#webmentions ul {
    list-style-type: none;
    margin: 0;
    padding: 4px;
}

#webmentions li {
    text-indent: -1em;
    padding-left: 1em;
}

#webmentions a.reaction {
    position: relative;
    text-decoration: none;
    text-shadow: 0px 0px 3px white;
    margin-right: 0;
    letter-spacing: -1ex;
    margin-right: 1ex;
}

#webmentions a.reaction img {
    max-height: 1.3em;
    width: auto;
    margin-right: -1ex;
    border-radius: 25%;
}

#webmentions a.reaction sub {
    font-size: 50%;
}

#webmentions .comments li {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#webmentions .comments li .text {
    color: #555;
    font-style: italic;
    text-decoration: none;
}

#webmentions .comments li .name {
    color: #111;
}

@media screen and (max-width: 650px) {
	.flexmain {
		flex-direction: column;
	}

	/* .blogflex {

		& .bloga{
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		}
	} */

	.bloggrid {
		display: grid;
		grid-template-columns: auto;
	}
}

.flexicoend {
	display: flex; 
	padding:10px 0px 0px 0px; 
	justify-content:flex-end;
}


.ico {
	margin:10px 25px 0px 0px;

	& img {
		width: 2rem;
		height: 2rem;
	}
}

.zoom {
	transition: transform .5s; /* Animation */
}

.zoom:hover {
	transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

@media screen and (orientation: portrait) {
	.flexmain {
		flex-direction: column;
	}

	body {
	max-width: 95%;
	margin: auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: system-ui, sans-serif;
	font-size: 1.2rem;
	& p {line-height: 1.8rem;}
	}

	main {
		& li {
			line-height: 1.8rem;
			margin-bottom: 1rem;
		}
	}
}

/* table.TT thead {
	display: none;
}

table.TT tr {
	display: block;
	margin-bottom: 1.5rem;
	padding: 1rem .5rem .5rem 1rem;
	background-color: rgba(220, 30, 30,.15);
	box-shadow: 0 0 1rem  rgba(0,0,0,0.9);
}
table.TT td {
	display: inline-block;
	margin: 0.5rem .5rem 0;
	padding: 0.5rem;
	text-align: left;
	background-color: rgba(255,255,255,0.5);
	border: 1px solid rgba(220,30,30,0.5)
}
table.TT td:before{
	float: left;
	margin: -0.5rem 0.5rem -0.5rem -0.5rem;
	padding: 0.625rem 0.5rem 0.625rem;
	font-size: 0.75em;
	font-weight: bold;
	background: rgba(220, 30, 30, .9);
	color: black;
}
table.TT td:nth-child(1):before{
content: "Gen: ";
}
table.TT td:nth-child(2):before{
content: "Dev: ";
}
table.TT td:nth-child(3):before{
content: "Rat: ";
}
table.TT td:nth-child(4):before{
content: "Img: ";
}
table.TT td:nth-child(5):before{	
	content: "Desc: ";
	display: block;
	float: none;
}

table.TT td:nth-child(5):before{
	display: block;
	margin-right: -0.5rem;
	margin-bottom: 0.5rem;
	float: none;
}

*/