:root {
	/*old main-bg-color: #FFC0CB*/
	--main-bg-color: #FFE7EC;
	--primary-accent-color: #fcb77a;
	--secondary-accent-color: #faffc0;
	--tertiary-accent-color: #c0ffe4;
	--tertiary-accent-color-dark: #a8dfc8 ;
	--link-solid-color: black;
	--link-standout-color: #faffc0;
	--link-standout-highlight: #c0ffe4;
	--bg-background-image: url("/assets/bgrnd/basebackground3.jpg");
	color: black;
}

@media (prefers-color-scheme: dark) {
	:root {
		/*Tetradic on #131249*/
		--main-bg-color: #131249;
		--primary-accent-color: #491312;
		--secondary-accent-color: #492F12;
		--tertiary-accent-color: #484912;
		--tertiary-accent-color-dark: #36370E;
		--link-solid-color: white;
		--link-standout-color: #492F12;
		--link-standout-highlight: #484912;
		--bg-background-image: url("/assets/bgrnd/WebsiteDarkBG.jpg");
		color: white;
	}


}

main{

	a:link, a:visited{
	color: var(--link-solid-color);
	font-weight: 600;

	}

	a:hover, a:active {
		color: var(--link-standout-highlight);
	}

	li {
		line-height: 2rem;
		margin-bottom: 1rem;
	}
}

#page-container {
	position: relative;
	min-height: 100vh;
	background-color: var(--main-bg-color);
}

#content {
	/* padding-bottom: 1.25rem; */
	padding-bottom: 5rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

/* needs a media query to make content stack when window gets below 500 px wide*/
.flexmain {
	display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0 2rem;
    padding: 1% 1%;
}

.blogflex {
	display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 2rem;
    padding: 1% 1%;
	flex-wrap: wrap;
	align-content: space-evenly;

	& .bloga:visited {
		color: var(--link-solid-color);
	}
	
	& .bloga:link {
		color: var(--link-solid-color);
	}

	& .bloga {
		flex: 1;
		min-width: 40%;
		max-width: 50%;
		text-decoration: none;
	
	& .blogcard {
		border-color: black;
		border-style: solid;
		border-width: .2em;
		box-shadow: .25em .375em black;
		margin: 1em 0em;
		padding: 0em 0em .25em .25em;
		background-color: var(--main-bg-color);

		& .blogheader {
			& h3 {
				margin: .25em 0em 0em 0em;
			}
		
			& p {
				margin: 0em;
			}
		}
	}

	& .blogcard:hover{
		border-style: dashed;
		border-color: var(--secondary-accent-color);
		}
	}
}

.center {
	justify-content: center;
	text-align: center;
}

.flexblinkies {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 1%
}

.flexbuttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 1%;
	gap: 3rem;

	summary {
		cursor: pointer;
		list-style:circle;
	}
}

ul.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--primary-accent-color);
	text-align: center;
	}

ul.footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--primary-accent-color);
	text-align: center;
	line-height: 1rem;

	p {
		margin:13px;
	}
}

nav {

	li {
		float: center;
		font-size: 1em;
	}

	li a, .dropbtn {
		display: inline-block;
		color: var(--link-solid-color);
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 1em;
	}

	li a:hover, .dropdown:hover .dropbtn {
		background-color: var(--secondary-accent-color);
	}

	li.dropdown {
	display: inline-block;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		/*background-color: #f9f9f9;*/
		background-color: var(--tertiary-accent-color);
		min-width: 160px;
		box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.2);
		z-index: 1;
	}

	.dropdown-content a {
		color: var(--link-solid-color);
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
	}

	.dropdown-content a:hover {
		background-color: var(--tertiary-accent-color-dark);
	}

	.dropdown:hover .dropdown-content {
		display:block;
	}

	}

	body {
		max-width: 65%;
		margin: auto;
		background-image: var(--bg-background-image);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		font-family: system-ui, sans-serif;
		font-size: 1.4rem;
		& p {
			line-height: 2rem;
		}
}

.fleximg {
	text-align: center;

	& img {
		max-width: 30%;
		height: auto;
	}
}
.fleximgbig {
	text-align: center;

	& img {
		max-width: 70%;
		height: auto;
	}

	& figcaption {
		font-style: italic;
		font-size: 1rem;
		line-height: 1rem;
		background-color: black;
		color: white;
		padding: .25em;
		max-width: 70%;
		margin: auto;
	}
}

#lightbox {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.75);
	display: none;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
 }
 
 #lightbox img {
	border: 25px solid #fff;
	max-height: calc(100% - 90px);
	max-width: calc(100% - 90px);
 }

 .articleimg {
	max-width: 70%;
	height: auto;
	
 }

@media screen and (max-width: 650px) {
	.flexmain {
		flex-direction: column;
	}

	.blogflex {

		& .bloga{
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		}
	}
}

.flexicoend {
	display: flex; 
	padding:10px 0px 0px 0px; 
	justify-content:flex-end;
}


.ico {
	margin:10px 25px 0px 0px;

	& img {
		width: 2rem;
		height: 2rem;
	}
}

@media screen and (orientation: portrait) {
	.flexmain {
		flex-direction: column;
	}

	body {
	max-width: 95%;
	margin: auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: system-ui, sans-serif;
	font-size: 1.2rem;
	& p {line-height: 1.8rem;}
	}

	main {
		& li {
			line-height: 1.8rem;
			margin-bottom: 1rem;
		}
	}
}

/* table.TT thead {
	display: none;
}

table.TT tr {
	display: block;
	margin-bottom: 1.5rem;
	padding: 1rem .5rem .5rem 1rem;
	background-color: rgba(220, 30, 30,.15);
	box-shadow: 0 0 1rem  rgba(0,0,0,0.9);
}
table.TT td {
	display: inline-block;
	margin: 0.5rem .5rem 0;
	padding: 0.5rem;
	text-align: left;
	background-color: rgba(255,255,255,0.5);
	border: 1px solid rgba(220,30,30,0.5)
}
table.TT td:before{
	float: left;
	margin: -0.5rem 0.5rem -0.5rem -0.5rem;
	padding: 0.625rem 0.5rem 0.625rem;
	font-size: 0.75em;
	font-weight: bold;
	background: rgba(220, 30, 30, .9);
	color: black;
}
table.TT td:nth-child(1):before{
content: "Gen: ";
}
table.TT td:nth-child(2):before{
content: "Dev: ";
}
table.TT td:nth-child(3):before{
content: "Rat: ";
}
table.TT td:nth-child(4):before{
content: "Img: ";
}
table.TT td:nth-child(5):before{	
	content: "Desc: ";
	display: block;
	float: none;
}

table.TT td:nth-child(5):before{
	display: block;
	margin-right: -0.5rem;
	margin-bottom: 0.5rem;
	float: none;
}

*/