---
tags: "sitestuff"
title: "Pixel Clubs"
desc: "My Pixel Clubs!"
layout: "base.njk"
permalink: "/pixels/"
---

<article class="center">
    <h2>Pantson Color Club</h2>
    <p>Join Us!!!</p>

    <a href="https://pantson.xandra.cc/">
        <img class="zoom" src="/assets/pixel/pantson/joinultrapastel.gif">
    </a>

    <hr>
    <section class="center">
        <h3>My Color Collection!</h3>
        <p style="margin-bottom: 0;">Wanna use mine? Khorne Flakes can be yours! Email me at chaosgoat@omg.lol and let me know you wanna trade!</p>
        <sub style="font-size: xx-small;">Khorne Flakes best enjoyed as part of a complete breakfast from atop the skull throne while toasting the blood god with "orange juice" sipped from the skulls of your enemies.</sub>
        
        <div class="flexblinkies">
            {% for pantson in pantsons %}
                {% if pantson.site | length > 0 %}
                    <a class="zoom" href={{ pantson.site }} title="{{ pantson.title }}"">
                        <img src="{{ pantson.colortag }}">
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </section>
</article>