---
title: "Goat's Desert"
layout: "base.njk" 
---
<article>
    <section>
        {% include "components/aboutme.njk" %}
    </section>
    <section>
        {% include "components/colors.njk" %}
    </section>
        {# {% include "components/sitesilike.njk" %} #}
    <section>
        {% include "components/blinkies.njk" %}
    </section>
</article>