---
title: "Goat's Desert"
layout: "base.njk" 
---
    {% include "components/aboutme.njk" %}
    {% include "components/colors.njk" %}
    {% include "components/mybuttons.njk" %}
    {% include "components/sitesilike.njk" %}
    {% include "components/blinkies.njk" %}
    <section>
        <a href="/sitemap.xml">
            <img style="width: 2rem; height: 2rem" src="/assets/svg/sitemap.svg" alt="sitemap icon" title="sitemap">
        </a>
    </section>